<!--Page administrateurs permettant d'ajouter des formations par le formulaire pré existant-->
{% extends "baseadmin.html.twig" %}

{% block body %}
    <h2>Détail de l'ajout de la formation {{ formation.title }} :</h2>

    {{ include ('_admin.formations.form.html.twig') }}
    
    {% endblock %}