{% extends "base.html.twig" %}

{% block title %}{% endblock %}
{% block stylesheets %}{% endblock %}

{% block top %}
    <div class="container">
        <div class="text-center">
            <h1>Gestion des Formations de MediatekFormation</h1>
        </div>
    </div>
{% endblock %}

{% block body %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>Date publication</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for formation in formations %}
                <tr>
                    <td> <h5 class="text-primary">{{ formation.title }}</h5> </td>
                    <td> {{ formation.Description }}</td>
                    <td> {{ formation.publishedatstring }}</td>
                    <td>
                </tr>
            {% endfor %}
            
        </tbody> 
    </table>
{% endblock %}
{% block javascripts %}{% endblock %}