<!--Page administrateurs permettant d'éditer des playlists par le formulaire pré existant-->

{% extends "baseadmin.html.twig" %}

{% block body %}
    <h2>Détail de la playlists {{ playlist.title }} :</h2>

    {{  include ('_admin.playlists.form.html.twig') }}
{% endblock %}